*{margin:0;padding:0}
.autowh{ width:100%; height:100%;}
.autolt{ top:0; left:0;}
.blue{ background-color:Blue;}
.red{ background-color:Red;}
.green{ background-color:Green;}
.gray{ background-color:Gray;}
.black{ background-color:Black;}
.white{ background-color:White;}
.relative{ position:relative;}
.absolute{ position:absolute;}
.floatleft{ float:left;}
.marginTop10{ margin-top:10px;}
.mousehand{ cursor:pointer;}
.sea{ background-color:#0099FF;}
.opacity50{ filter:alpha(opacity=50);opacity:0.5;}
.opacity0{filter:alpha(opacity=0); opacity:0}
.font_family{ font-family:微软雅黑;}
.fontgray{ color:Gray;}
.fontblack{ color:Black;}
.border0{ border:0;}
.border1SW{ border:1px solid white}
.displaynone{ display:none;}
.displayblock{ display:block;}
.z-index-1{ z-index:-1;}
.z-index1{ z-index:1;}